<div class="entry">
    <h1 class="entry-title">Речные круизы</h1>
    <div class="entry-content">
<!--        <p><a href="/raspisaniye?season=2021"><img class="alignnone size-large wp-image-2043" src="/assets/images/banners/2021.jpg" alt="" /></a></p>-->
        <p>Круиз между двумя столицами</p>
        <p><a href="/raspisaniye?ship=Анастасия&season=2021"><img class="alignnone size-large" src="/assets/images/banners/Anastasiya_01.jpg" alt="" /></a></p>
        <p>Открылась продажа на 4-х палубный  лоукостер класса интурист Л. Красин</p>
        <p><a href="/raspisaniye?ship=Красин&season=2021"><img class="alignnone size-large" src="/assets/images/banners/Krasin_04.jpg" alt="" /></a></p>
        <p>Открылись продажи на 4-х палубный теплоход класса Люкс, Княжна Виктория (каюты с балконами).
            Цены с учетом сезонной скидки действуют до 1 ноября 2020 года.</p>
        <p><a href="/raspisaniye?ship=Виктория&season=2021"><img class="alignnone size-large" src="/assets/images/banners/lux.jpg" alt="" /></a></p>
        <p><a href="/raspisaniye?ship=Солнечный,Фурманов,соната,озеро"><img class="alignnone size-large" src="/assets/images/banners/Deti_besplatno.jpg" alt="" /></a></p>

       <!-- <p><a href="/raspisaniye?ship=столицы"><img class="alignnone size-large" src="/assets/images/banners/750х350_msk_piter.jpg" alt="" /></a></p>-->
    </div>
</div>
