<div id="header">
    <div class="wrap">
        <div id="title-area">
            <p id="title"><a href="{{ site.baseurl }}">КРУИЗ-ВОЛНА тур</a></p><p id="description">аккредитованный турагент ведущих судовладельцев России с 2001 года</p>
        </div>
        <div class="widget-area header-widget-area">
            <div id="custom_html-7" class="widget_text widget widget_custom_html">
                <div class="widget_text widget-wrap"><div class="textwidget custom-html-widget">
                    <div style="text-align:right;color:#fff;padding:30px 20px ">Единый центр бронирования: (495) 671-01-08<br />(495) 643-43-75<br />(916) 349-71-06<br />понедельник-пятница с 09:00 до 20:00<br>
                        суббота-воскресенье с 10:00 до 17:00
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>