<div id="nav">
    <div class="wrap">
        <ul class="menu genesis-nav-menu menu-primary">
            <li id="menu-item-14" class="menu-item"><a href="{{ site.baseurl }}">Главная</a></li>
            <li id="menu-item-214" class="menu-item"><a href="{{ site.baseurl }}menu">Меню ресторанов</a></li>
            <li id="menu-item-1576" class="menu-item"><a href="{{ site.baseurl }}spec">Акции</a></li>
            <li id="menu-item-176" class="menu-item"><a href="{{ site.baseurl }}bonus"><span style="color:red"> Сезонные скидки</span></a></li>
            <li id="menu-item-1575" class="menu-item"><a href="{{ site.baseurl }}order">Купить круиз</a></li>
            <li id="menu-item-1066" class="menu-item"><a href="{{ site.baseurl }}eorder"><span style="color:red">Электронная путевка</span></a></li>
            <li id="menu-item-47" class="menu-item"><a href="{{ site.baseurl }}contacts">Контакты</a></li>
        </ul>
    </div>
</div>