<script src='{{ site.baseurl }}assets/js/moment.min.js'></script>
<script src='{{ site.baseurl }}assets/js/ru.js'></script>
<script src='{{ site.baseurl }}assets/js/jquery-3.3.1.min.js'></script>
<script src='{{ site.baseurl }}assets/js/lightbox.min.js'></script>
<script src='{{ site.baseurl }}assets/lib/DataTables-1.10.16/js/jquery.dataTables.js'></script>
<script src='{{site.baseurl}}assets/js/posts.js'></script>
{% if page.script %}
<script src='{{site.baseurl}}assets/js/{{ page.script }}'></script>
{% endif %}
