<div id="subnav">
    <div class="wrap">
        <ul class="menu genesis-nav-menu menu-secondary">
            <li id="menu-item-1025" class="menu-item"><a href="/news">новости</a></li>
            <li id="menu-item-64" class="menu-item"><a href="/notes">Памятка туристу</a></li>
            <li id="menu-item-67" class="menu-item"><a href="/routes">Маршруты</a></li>
            <li id="menu-item-195" class="menu-item"><a href="/ships">Теплоходы</a></li>
            <li id="menu-item-1766" class="menu-item"><a href="/raspisaniye">Расписание и цены</a></li>
            <li id="menu-item-1421" class="menu-item"><a href="https://booking.cruise-volna.ru">Магазин круизов</a></li>
        </ul>
    </div>
</div>
