<!doctype html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{site.description}}" />
    <title>{{site.company}} - {{site.title}}</title>
    {% include styles.html %}
    {% include plugins/yandex.html %}

</head>
<body class="content-sidebar">
<script type="text/javascript">
    (function(c,s,t,r,e,a,m){c[e]=c[e]||function(){(c[e].q=c[e].q||[]).push(arguments)},c[e].p=
        r,a=s.createElement(t),m=s.getElementsByTagName(t)[0],a.async=1,a.src=r,m.parentNode.insert
        Before(a,m)})(window,document,'script','https://nlb-
    clickstream.sberbank.ru/clickstream.bundle.js','csa');
    csa('init', {
        /*clientId: 'ПОСТОЯННЫЙ_ИДЕНТИФИКАТОР_ПОЛЬЗОВАТЕЛЯ_ЕСЛИ_ЕСТЬ',*/
    }, true, true);
</script>
<div id="wrap">

    {% include nav.html %}
    {% include header.html %}
    {% include subnav.html %}

    <div id="inner">
        <div id="content-sidebar-wrap">
            <div id="content">
                {% if page.title %}
                <h1>{{ page.title }}</h1>
                {% endif %}
                <div class="entry-content">
                {{ content }}
                </div>

            </div>

                {% include sidebar.html %}

        </div>
    </div>

    {% include footer.html %}

</div>

{% include scripts.html %}
{% include plugins/jivosite.html %}
</body>
</html>
